body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(image6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
}

.container {
    background-color: #ffffff52;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 11px;
    color: #222;
    font-size: 45px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
}

button {
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: aliceblue;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}